body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/background.jpg);
}

h1 {
  font-family: 'Arima Madurai', cursive;
  text-shadow: 2px 2px 8px turquoise;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid paleturquoise;
  border-radius: 10px;
  margin-top: 30px;
  width: 60%;
}

.btn-success {
  background-color: paleturquoise;
  border: 1px solid turquoise;
  border-radius: 5px;
}

.btn-success:hover {
  background-color: tomato;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border: 1px solid paleturquoise;
  margin-top: 80%;
  padding: 30px;


}
